# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
env/
.venv/

# VS Code
.vscode/

# PyCharm
.idea/

# Dataset Outputs
datasets/*.csv

# Output Files
outputs/

# Logs
*.log

# Environment Variables
.env

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Python cache
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Distribution
build/
dist/
*.egg-info/

venv/